Bio==1.5.3
keras==2.11.0
logomaker==0.8
matplotlib==3.6.2
numpy==1.23.5
pandas==1.5.2
rdkit==2022.9.3
rdkit_pypi==2022.9.3
scikit_learn==1.2.0
scipy==1.10.0
seaborn==0.12.2
shap==0.41.0
tensorflow==2.11.0
umap==0.1.1
umap_learn==0.5.3